* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(100, 20px);
}

.container > div {
    border: 1px solid black;
}